if SHIELD_LETS_SPLIT_REV2_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "lets-split-rev2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LETS_SPLIT_REV2_LEFT || SHIELD_LETS_SPLIT_REV2_RIGHT

config ZMK_SPLIT
    default y

endif
